$color-primario: #701B40;
.nothing{
  height: calc(100vh - 416px);
  background: rgba(0,0,0,0);
}
.content{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 416px;
  background: $color-primario;
  box-shadow: 0px 0px 20px rgba(6, 72, 120, 0.13);
}

.teclado{
  width: 1100px;
  height: 376px;
  background: $color-primario;
  display: flex;
  flex-wrap: wrap;
}
.tecla-pequenia{
  height: 69.89473724365234px;
  width: 110.04364013671875px !important;
  h3{
    //font-size: 32px;
    font-size: 30px !important;
  }
}


.tecla{
  height: 69.89473724365234px;
  width: 236.04364013671875px;
  margin: 8px;

  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  h3{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    //font-size: 32px;
    font-size: 25px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;

    color: white;
  }
}

.tecla-normal{
  background: $color-primario;
  border: 2px solid #EFF1F3;
}

.tecla-no-border{
  box-shadow: none;
}

.tecla-continuar{
  background: white;
  border: 0;
  h3{
    color: $color-primario;
  }
}

.tecla-blocked{
  background: $color-primario;
  opacity: 0.5;
  border: 0 !important;
}

.tecla-accion{
  background: $color-primario;
  border: 2px solid #EFF1F3;
}
